{% extends "base.html" %}

<div class="col-xs-12 col-sm-4 col-sm-offset-4">

	{% block content %}
		<div class="alert alert-success">
			<strong>Opt-in to get started.</strong> We respect your privacy.
		</div>
	{% if form.errors %}
		<div class="alert alert-error">
			<strong>Error</strong> Your username and password didn't match. Please try again.
		</div>
	{% endif %}

	<form method="post" action="{% url 'glassface.views.create_user' %}">
		{% csrf_token %}
		<div class="input-group">
			<input type="text" class="form-control" name="username" placeholder="Username" autofocus>
		</div>
		<div class="input-group">
			<input type="password" class="form-control" name="password1" placeholder="Password">
			<input type="password" class="form-control" name="password2" placeholder="Password (again)">
		</div>
		<div class="input-group">
			{{ form.profile_url1 }}
			{{ form.profile_url2 }}
			{{ form.profile_url3 }}
			{{ form.profile_url4 }}
			{{ form.profile_url5 }}
		</div>
		<div class="input-group">
			{{ form.media }}
			<button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Opt In</button>
			<input type="hidden" name="next" value="{{ next }}" />
		</div>
	</form>

</div>

{% endblock %}