<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Glassface lets you add friends by recognizing faces with Google Glass.">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <title>Glassface</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="page-header clearfix" style="position:relative">
        <h1 class="pull-left">Glassface <small>Subtext for header</small></h1>
        {% if user.is_authenticated %}
          <h4 class="pull-right" style="position:absolute;right:0;bottom:12px"><a href="{% url "django.contrib.auth.views.logout" %}">Log Out</a></h4>
        {% else %}
          <h4 class="pull-right" style="position:absolute;right:0;bottom:12px"><a href="{% url "django.contrib.auth.views.login" %}">Log In</a></h4>
        {% endif %}
      </div>

      {% block content %}HELLO{% endblock content %}
    </div>
  </body>

</html>