{% extends "base.html" %}

{% block content %}
{% if guest %}
	Here's some filler text on why you should join Glassface!
{% else %}
	{% if twitter_registered %}
		Your Twitter account is linked! <a href="{% url 'destroy' "twitter" %}">Unlink</a><br>
	{% else %}
		<a href="{% url 'social:begin' "twitter" %}">Link your Twitter account</a><br>
	{% endif %}
	{% if google_registered %}
		Your Google+ account is linked! <a href="{% url 'destroy' "google-oauth2" %}">Unlink</a><br>
	{% else %}
		<a href="{% url 'social:begin' "google-oauth2" %}">Link your Google+ account</a><br>
	{% endif %}
{% endif %}
{% endblock %}